.page-enter-active, .page-leave-active {
    transition: opacity .5s;
  }
  .page-enter, .page-leave-to {
    opacity: 0;
  }
  @media screen and (max-width: 768px) {
    .Cookie__content {
      text-align: center !important;
    }
  }
